/* You should edit the content below to fit your website */

* {
	font-family: Arial, Verdana, sans-serif;
	color: burlywood;
	text-align: center;}

body {
	width: 960px;
	margin: 0 auto;
	border: groove;
	background-color: #39395f}

nav {
	background-color: #39395f;
	padding: 10px;
	margin: 10 auto;
}

li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color:#efefef;
}


article {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	width: 280px;
	float: left;
}

#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
